/*le podes definir el tamaño a las imágenes y desp agregarles object-fit: cover para que queden mejor*/


/* GALERIA */
body main span {
  display: grid;
  grid-template-areas: "cuadro1 cuadro7 cuadro7 cuadro2" "cuadro5 cuadro7 cuadro7 cuadro2" "cuadro5 cuadro6 cuadro3 cuadro4";
}
body main span div {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main span div a {
  width: 100%;
  height: 100%;
  padding: 5px;
}
body main span div a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 5px;
}

.cuadro_1 {
  grid-area: cuadro1;
}

.cuadro_2 {
  grid-area: cuadro2;
}

.cuadro_3 {
  grid-area: cuadro3;
}

.cuadro_4 {
  grid-area: cuadro4;
}

.cuadro_5 {
  grid-area: cuadro5;
}

.cuadro_6 {
  grid-area: cuadro6;
}

.cuadro_7 {
  grid-area: cuadro7;
}

@media (min-width: 501px) and (max-width: 900px) {
  body main span {
    display: grid;
    grid-template-areas: "cuadro1 cuadro7 cuadro2" "cuadro5 cuadro7 cuadro4" "cuadro5 cuadro6 cuadro3 ";
  }
  body main span div a {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  body main span {
    display: grid;
    grid-template-areas: "cuadro1 cuadro2" "cuadro5 cuadro3" "cuadro4 cuadro6" "cuadro4 cuadro7";
  }
  body main span div a {
    width: 100%;
    height: 100%;
  }
}
.productos_margen {
  margin: 20px;
}

.cajas:hover {
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
}

.cajas {
  width: 100%;
}

/* no me parecio muy util, por lo menos por ahora */
body main div form {
  padding: 40px 25px 0px 25px;
  align-content: center;
  text-align: center;
}
body main div form button {
  margin-top: 10px;
  background-color: rgba(188, 182, 182, 0.448);
  border-radius: 10px;
  padding: 2px 15px;
  font-weight: bold;
}
body main div form button:hover {
  background-color: rgb(248, 172, 172);
}
body main div div iframe {
  padding: 40px 25px 0px 25px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 400px;
}
body main div div p {
  font-size: 0.95rem;
  text-align: center;
  padding: 5px 25px 0px 25px;
}

.padre_flex {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hijo_flex {
  width: 50vh;
  /*padding: 60px 10px;*/
}

.container_map {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

@media (min-width: 501px) and (max-width: 900px) {
  .hijo_flex {
    max-width: 90vh;
    min-width: 501px;
    padding: 0px 0px;
  }
  .form-group {
    display: flex;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .hijo_flex {
    max-width: 90vh;
    min-width: 300px;
  }
  .form-group {
    display: flex;
    margin-bottom: 20px;
  }
}
/*
.caja_mal {
    display: flex;
    margin-bottom: 10px;
}
*/
body main h1 {
  text-align: center;
  text-shadow: 3px 3px 0 #fafafa, 3px 3px 0 #fafafa, 3px 3px 0 #fafafa, 3px 3px 0 #fafafa;
}
body main p {
  color: #01021b;
  padding: 5px 10%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
}

.fondo_body {
  background-image: url("../img/fondo_sobremi2.jpg");
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

/* * {
    border: 2px solid red;
}*/
/* NAVBAR */
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: rgba(245, 231, 215, 0.868);
}
body h2 {
  background-color: rgba(245, 231, 215, 0.868);
  color: chocolate;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body header {
  background-color: rgba(244, 228, 209, 0.868);
  font-weight: bold;
  font-size: 1.3rem;
}
body header div a {
  font-weight: bold;
  font-family: "Phudu", cursive;
  margin: auto;
  font-size: x-large;
  text-decoration: none;
  color: black;
}
body header div a img {
  width: 50px;
  padding-left: 5px;
}
body header div nav ul li a:hover {
  text-shadow: 2px 2px 0 rgba(198, 194, 194, 0.4), 2px 2px 0 rgba(198, 194, 194, 0.4), 2px 2px 0 rgba(198, 194, 194, 0.4), 2px 2px 0 rgba(198, 194, 194, 0.4);
  transition: 88ms;
  animation: headShake;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
  /* don't forget to set a duration! */
}
body main {
  min-height: 80vh;
}
body main div div img {
  width: 100%;
  /*max-height: 600px;*/
  height: 75vh;
  object-fit: cover;
  border-radius: 20px;
}

/* FOOTER */
.logo_redes {
  width: 35px;
}

/*# sourceMappingURL=style.css.map */
