body {
    main {
        div {
            form {
                padding: 40px 25px 0px 25px;
                align-content: center;
                text-align: center;
    
                button {
                    margin-top: 10px;
                    background-color: rgba(188, 182, 182, 0.448);
                    border-radius: 10px;
                    padding: 2px 15px;
                    font-weight: bold;
                }
    
                button:hover {
                    background-color: rgb(248, 172, 172);
                
                }
            }
    
            div {
                iframe {
                    padding: 40px 25px 0px 25px;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    height: 400px;
    
    
                }
                p {
                    text-align: center;
                    padding: 5px 25px 0px 25px;
                }
            }
        }
    

    }


}

.padre_flex {
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hijo_flex {
    width: 50vh;
    /*padding: 60px 10px;*/
}

.container_map {
    display: flex;
    flex-direction: column;
    padding-top: 30px;

}


@media (min-width: 501px) and (max-width: 900px) {
    .hijo_flex {
        max-width: 90vh;
        min-width: 501px;
        padding: 0px 0px;

    }
    .form-group {
        display: flex;
        margin-bottom: 20px;

    }

}

@media (max-width: 500px) {
    .hijo_flex {
        max-width: 90vh;
        min-width: 300px;
    }
    .form-group {
        display: flex;
        margin-bottom: 20px;

    }


}
/*
.caja_mal {
    display: flex;
    margin-bottom: 10px;
}
*/