/* GALERIA */

body {
    main {
        span {
            display: grid;
            grid-template-areas:
                "cuadro1 cuadro7 cuadro7 cuadro2"
                "cuadro5 cuadro7 cuadro7 cuadro2"
                "cuadro5 cuadro6 cuadro3 cuadro4";

            div {

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    padding: 5px;

                }
            }


        }



    }


}

@for $i from 1 through 7 {
    .cuadro_#{$i} {
        grid-area: cuadro#{$i};
    }
}

@media (max-width: 900px) {
    body {
        main {
            span {
                display: grid;
                grid-template-areas:
                    "cuadro1 cuadro7 cuadro2"
                    "cuadro5 cuadro7 cuadro4"
                    "cuadro5 cuadro6 cuadro3 ";
    

            }
        }
    }
}