$color_head : rgba(244, 228, 209, 0.868);
$color_titulo: rgba(245, 231, 215, 0.868);
$color_productos_titulo: chocolate;
$font_logo: 'Phudu', cursive;
$font_titulo: 'Roboto', sans-serif;
$font_productos_titulo: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

